* {
  padding: 0px;
  margin: 0px;

}
.li {
  list-style: none;
  display: inline-block;
}

#logo {
  padding-top: 15px;
  width: 900px;
  display: flex;
  justify-content: space-between;
}
#capa {
  margin-top: 28px;
}
.centralize {
  margin: 0px auto;
  width: 900px;
}
.text-h4 {
  text-align: center;
}
p {
  text-align: justify;
}
header {
  margin: 0px auto;
}
.margin-list{
  margin-left: 20px;
}
.space{
  margin-bottom: 5px;
}