.li{
   list-style: none;
   display: inline-block;
}

#logo{
    padding-top: 15px;
    width: 900px;
    display: flex;
    justify-content: space-between;
}
#capa{
    margin-top: 20px;
}
div{
    margin: 0px auto;
    width: 900px;
}
h4{
    text-align: center;
}
p{
    text-align: justify;
}
header{
    margin: 0px auto;
}